$bg-color: #fff;
$bg-secondary-color: #2f303a;
$text-color: #757575;
$text-secondary-color: #212121;
$accent-color: #2196f3;
$icon-color: #afb1b8;
$section-secondary-color: #f5f4fa;

$main-font: Roboto;
$secondary-font: Raleway;